@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.naviBar button {
  display: none;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: #fff;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
  transition: all 0.5s;
}

.menuNav.showMenu {
  width: 100%;
  display: flex;
}

.newLinks li {
  margin-right: 10px;
}

.newLinks {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

.newLinks li a {
  text-decoration: none;
  color: #858693;
  font-weight: 800;
}

.naviLinks li {
  margin-right: 10px;
  padding: 10px 0;
}

.naviLinks li a {
  text-decoration: none;
  font-size: 22px;
  color: #858693;
  font-weight: 800;
}

.naviLinks li a:focus {
  color: #fff;
  background-color: #f1913f;
  padding: 5px 10px;
}

.menuNav li:first-child {
  margin-top: 7rem;
}

.naviBar {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.naviTitle {
  font-weight: 600;
  color: #f1913f;
  z-index: 9;
}

.naviLinks {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
}

.newLinks li a:focus {
  color: #fff;
  background-color: #f1913f;
  padding: 5px 10px;
}

@media screen and (max-width: 500px) {
  .naviBar {
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;
    gap: 10px;
  }

  .naviTitle {
    color: #f1913f;
    z-index: 9;
  }

  .naviLinks li a {
    color: #f1913f;
  }

  .naviBar button {
    display: block;
    outline: none;
    border: none;
    background-color: #fff;
    transition: all 0.5s;
  }

  .newLinks {
    display: none;
  }
}
