@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

blockquote {
  font-weight: 600;
  font-size: 18px;
  margin-top: 300px;
  padding: 20px;
  color: #858693;
}

@media screen and (max-width: 400px) {
  blockquote {
    margin-top: 200px;
  }
}
